<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular Tools for Data Science
* Popular Languages for Data Science
* Libraries in Data Science
* Working in JupyterLab
* Entering Arithmetic Expressions

Some popular programming languages used by Data Scientists are:
1. SQL
2. Java
3. R
4. Python

Some Data Science Libraries commonly used by Data Scientists are:
1. NumPy
2. TensorFlow
3. Pandas
4. MatPlotLib

|Data Science Tools|
|-----|
|JupyterLab|
|Google Colab|
|Virtual Studio|

### Below are some examples of evaluation of arithmetic expressions in Python.

In [1]:
# This is an example of an arithmetic expression involving two operations.
s=3*4+5
print(s)

17

In [2]:
# Next is an expression to convert 200 minutes into hours by dividing by 60.
Time=200/60
print(Time)

3.3333333333333335

## Author
Sruthy R